.navbar {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #004d40;
    padding: 10px 30px;
    color: white;
  }
  
 .logo {
  width: 30vw; /* takes 30% of the viewport width */
  aspect-ratio: 160 / 99.843;
  height: 10vh; /* maintain aspect ratio */
  max-width: 100%;
  flex-shrink: 0;
 }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
  }
  
  .nav-links li {
    cursor: pointer;
  }
  
  .nav-links .active {
    border-bottom: 2px solid orange;
  }
  
  .login-btn {
    background-color: orange;
    border: none;
    padding: 8px 16px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
  }
  